---
import PrimaryButton from "@/components/primaryButton.astro"
---
<section class="bg-secondary_light/30  group p-2 rounded-xl mx-2 md:mx-5">
    <div class="h-fullflex flex-col gap-3 text-center  text-secondary font-medium">
        <p class="text-lg md:text-2xl lg:text-4xl tracking-wide">Al confiar el cuidado de tu mascota a nuestro equipo de profesionales veterinarios dedicados, puedes estar seguro de que está en manos expertas y afectuosas.</>
        <div class="w-full h-full flex flex-col justify-center items-center gap-4">
            <div class="w-full flex justify-center">
                <PrimaryButton title="Agendar cita" icon="icon-[streamline--add-circle]" onClick={() => {}} />
            </div>
        </div>
    </div>
  </section>