---
import StaffDisplay from "@/components/equipo/StaffDisplay";
---
    <section class="w-full h-full select-none">
        <div class="h-full w-full flex flex-col">
          <StaffDisplay client:load/>
        </div>
    </section>

