---
import Layout from '@/layouts/Layout.astro';
import EquipoHero from '@/sections/equipo/EquipoHero.astro';
import EquipoSelector from '@/sections/equipo/EquipoSelector.astro';
import EquipoFooter from '@/sections/equipo/EquipoFooter.astro';
import Footer from '@/sections/Footer.astro';
---


<Layout title="Zoavet - Equipo" description=`Nuestro equipo multidisciplinario está preparado para afrontar cualquier reto, combinando experiencia, pasión y un compromiso inquebrantable con el bienestar de tu mascota. Cada miembro de nuestro staff es un experto en su campo, dedicando su vida profesional a brindar la mejor atención médica y cuidados preventivos. Con nosotros, tu mascota estará en manos seguras y cariñosas, rodeada de profesionales que valoran tanto la salud como la felicidad de cada paciente.` title="Zoavet-Clinica Vaterinaria">
	<EquipoHero/>
    <main>
		<EquipoSelector/>
		<EquipoFooter/>
	</main>
	<Footer/>
</Layout> 