---
import Layout from '@/layouts/Layout.astro';
import HeroThreeJs from '@/sections/index/HeroThreeJs.astro';
import AboutCarousel from '@/sections/index/AboutCarousel'
import AboutServices from '@/sections/index/AboutServices.astro'
import AboutTeam from '@/sections/index/AboutTeam.astro'
import Footer from '@/sections/Footer.astro';
import AboutSpecialist from '@/sections/index/AboutSpecialist.astro';
---

<Layout description=`Zoavet es una clínica veterinaria con personal especializado y tecnología de punta,
 ofreciendo servicios desde consultas y prevención hasta urgencias.
 Somos pioneros en la cultura de prevención,
 bienestar y salud de tu mascota.` title="Zoavet-Clinica Vaterinaria">
    <HeroThreeJs/>
	<main>
		<AboutCarousel client:load/>
		<AboutServices/>
		<AboutTeam/>
		<AboutSpecialist/>
	</main>
	<Footer/>
</Layout>

