<section class="h-screen overflow-hidden rounded-xl mx-2 md:mx-5 my-16">
  <div class="text-center h-1/6">
    <h2 class="text-primary_brand text-3xl md:text-4xl lg:text-5xl text-primary_text_light font-semibold">
      Conéctate con Nosotros en Instagram
    </h2>
    <p class="text-sm md:text-base text-secondary_brand mt-4">
      ¡Descubre nuestras últimas actualizaciones, historias y mucho más en nuestro perfil de Instagram!
    </p>
  </div>

  <!-- Instagram Feed Embed with Tailwind styles -->
  <div class="w-full h-5/6 flex justify-center items-center">
    <iframe
      src="https://www.instagram.com/zoaveterinarios/embed"
      class="w-full h-5/6 max-w-4xl border-2 shadow-md rounded-xl"
      allowfullscreen
      scrolling="no"
    ></iframe>
  </div>
</section>

