---
let {icon, title, href} = Astro.props;
import { cn } from "@/utils/cn";
---
<a href={href}  rel="noopener noreferrer"  class="group/primarybtn p-3 flex flex-row justify-center items-center lg:mr-10 rounded-full gap-2 border-2 border-secondary bg-secondary lg:bg-secondary_light lg:hover:bg-secondary  text-white lg:text-secondary lg:hover:text-white tracking-wide transition-all duration-300">
  <span
    class={`${icon} group-hover/primarybtn:hidden text-lg md:text-xl`}
  ></span>
  <span class="icon-[line-md--compass-twotone-loop] hidden group-hover/primarybtn:block  text-lg md:text-xl"></span>
  <p class="font-semibold text-lg md:text-xl">{title}</p>
</a>

