---
import LogoZoa from "@/icons/logo_zoa.astro";

const currentYear = new Date().getFullYear();
---
<section class="w-full  p-2 md:p-5">
<footer class="w-full lg:h-auto rounded-3xl p-5  bg-primary_light flex flex-col
   items-center lg:items-start ">
   <div class="h-1/6 w-full mb-10 flex justify-center items-center md:items-start pb-5">
      <LogoZoa logoClassName="w-4/6"/>
    </div>
    <div class="w-full h-4/6 flex flex-col lg:flex-row lg:mb-10 ">
      <div class="lg:w-2/3 w-full h-full flex flex-row">
        <div class="w-1/2 flex flex-col">
          <ul class="w-full list-none flex flex-col text-base md:text-lg  lg:text-xl tracking-wide font-light text-primary">
            <li class="flex items-center text-[#5E5D5C]">
              <div class="uppercase tracking-wide font-bold flex items-center">
                Menu
                <span class="icon-[material-symbols-light--pet-supplies] text-xl"></span>
              </div>
            </li>
            <li class="py-2 lg:hover:font-medium transition-all duration-300">
              <a href="/">Inicio</a>
            </li>
            <li class="py-2 lg:hover:font-medium transition-all duration-300">
              <a href="/servicios">Servicios</a>
            </li>
            <li class="py-2 lg:hover:font-medium transition-all duration-300">
              <a href="/equipo">Equipo</a>
            </li>
            <li class="py-2 lg:hover:font-medium transition-all duration-300">
              <a href="/contacto">Contacto</a>
            </li>
          </ul>
        </div>
        <div class="w-1/2 break-all ">
          <ul class="w-full list-none flex flex-col items-start font-light text-primary gap-5">
            <li class="flex items-center text-[#5E5D5C]">
              <div class="uppercase tracking-wide font-bold text-base md:text-lg  lg:text-xl  flex items-center gap-2">
                <span class="icon-[streamline--circle-clock-solid] text-xl"></span>
                Horarios
              </div>
            </li>
            <li class="flex flex-col text-base md:text-lg  lg:text-xl ">
              <h3>8:00 am - 7:00 pm</h3>
              <span class="text-xs md:text-base  text-secondary font-semibold tracking-wide">Lunes a Domingo</span>
            </li>
            <li class="flex flex-col text-base md:text-lg  lg:text-xl">
              <h3>Urgencias</h3>
              <span class="text-xs md:text-base  text-secondary font-semibold tracking-wide">24/7</span>
            </li>
            <li>
              <p class="text-base md:text-lg  lg:text-xl text-secondary_dark font-black tracking-wide">
                (601) 6756195
              </p>
            </li>
            <li><p class="text-sm md:text-lg  lg:text-xl text-secondary_dark font-black tracking-wide text-center">
              zoavet@hotmail.com
            </p></li>
            <li>
              <p class="text-sm md:text-lg  lg:text-xl text-secondary_dark w-full flex flex-col font-black tracking-wide">
                <span class="icon-[mdi--map-marker-radius] text-secondary text-3xl"></span>Carrera 113 #77-30 - <span>
                  Villas De Granada, 
                </span>
                <span>
                  Bogotá
                </span>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="lg:w-1/3 w-full flex flex-col justify-center items-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.30169041661!2d-74.12693442399332!3d4.717565795257519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f8357fed2c7a7%3A0x2cfcf2ddd4318cf1!2sZoavet%20Cl%C3%ADnica%20Veterinaria!5e0!3m2!1ses-419!2scl!4v1723820529747!5m2!1ses-419!2scl" class="border-4 border-primary lg:hover:border-secondary transition-all duration-300 border-double p-2 rounded-xl mt-5 lg:mt-0" width="100%" height="100%"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="w-full flex flex-row  justify-around  items-center text-secondary_dark  my-5">
          <span class="icon-[streamline--instagram-solid] text-[34px] cursor-pointer lg:hover:scale-110 lg:hover:text-secondary_dark/60 transition-all duration-300"></span>
          <span class="icon-[streamline--facebook-1-solid] text-[28px] cursor-pointer lg:hover:scale-110 lg:hover:text-secondary_dark/60 transition-all duration-300 "></span>
          <span class="icon-[streamline--linkedin-solid] text-[33px] cursor-pointer lg:hover:scale-110 lg:hover:text-secondary_dark/60 transition-all duration-300"></span>
        </div>
      </div>
    </div>
<div class="w-full h-1/6 pt-5 flex flex-col md:flex-row justify-center md:justify-between px-2 items-start border-t-4 border-white rounded-2xl">
  <p class=" text-xs md:text-base font-semibold text-slate-500 tracking-wide" >&copy; {currentYear} Zoa Veterinaria. Todos los derechos reservados.</p>
  <p class=" text-xs md:text-base font-semibold text-slate-500 tracking-wide" >Pagina web por <span class="text-secondary">NicolasCode</span></p>
</div>
</footer>
</section>

