---
import { DirectionAwareHover } from "@/effects/direction-aware-hover";

// Define the props for the Astro component
interface ServiceCardProps {
  serviceImg: string;
  title: string;
  description: string;
  index: number;
}

const { serviceImg, title, description, index } = Astro.props;
---

<div class={`card-${index} DirectionAwareHover w-[20rem] h-[24rem] md:w-11/12 md:h-[30rem] lg:w-1/2 lg:h-1/2 ${index % 2 == 0 ? "lg:pr-4":"lg:pl-4"} py-2 px-5 `}>
  <DirectionAwareHover 
  imageUrl={serviceImg}
  cardTitle={title}
  description={description} 
  client:load
  />
</div>
