---
import '@fontsource-variable/space-grotesk';
interface Props {
	title: string;
	description:string,
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link rel="canonical" href="https://zoavet.com.co/" /> -->
		<meta name="viewport" content="width=device-width" />

		<meta name="keywords" content="veterinaria, urgencias, mascotas, veterinario, animales, consulta, esterilización" />
		<meta charset="UTF-8" />

		<meta name="og:image" />
		<meta name="og:title" content="Zoavet - Clinica veterinaria."/>
		<meta name="og:description" content={description} />
		<!-- <meta name="og:url" content="https://zoavet.com.co/" /> -->
		<meta name="og:site_name" content="Zoavet Clinica Veterinaria" />
		<meta name="og:type" content="website" />
		<meta name="og:locale" content="es_COL" />

		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<title>{title}</title>
	</head>
	<body>
		<div class="max-w-7xl mx-auto border-2 border-red-300">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--color-primary: #60a09a;
		--color-primary-light:#e1f0ee;
		--color-secondary: #e67658;
		--color-secondary-light: #fae4de;
		--color-dark: #5E5D5C;

	}
	html {
		font-family: 'Space Grotesk Variable', sans-serif;
		overflow-x: hidden;
		overscroll-behavior: none;
	}

	/* about carousel */
	.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.no-scroll {
  overflow: hidden;
}
</style>
