---
import PrimaryButton from "@/components/primaryButton.astro"
---
<section class="h-screeen w-full p-5">
    <div class="h-1/2">
        <h1 class="steps-title service-title uppercase text-left  text-2xl md:text-4xl lg:text-5xl font-semibold text-primary tracking-wider mb-5">
            Siguientes Pasos
          </h1>        
    <div class="md:bg-[url(/serviceBanners/llline.svg)] bg-cover bg-bottom h-1/2 w-full flex flex-col lg:flex-row gap-5">
        <div class="steps-1 w-full  lg:w-1/3 flex flex-col justify-start items-start">
        <div class="w-full backdrop-blur-sm border-[0.5px] border-primary_light shadow-sm shadow-primary_light  h-full p-3 rounded-xl flex flex-col justify-evenly ">
          <span class="text-2xl md:text-4xl lg:text-5xl font-black w-16 h-16 p-2 rounded-full flex justify-center items-center bg-secondary_light text-secondary">
            1
          </span>
          <h2 class="text-lg md:text-xl font-semibold">Agenda una cita</h2>
          <p class="text-left text-base md:text-lg lg:text-xl ">
            Reserva una cita a traves de nuestra pagina web o whatsapp.
          </p>
        </div>
        </div>
        <div class="steps-2 w-full  lg:w-1/3 flex flex-col justify-start items-start">
          <div class="w-full backdrop-blur-sm border-[0.5px] border-primary_light shadow-sm shadow-primary_light  h-full p-3 rounded-xl  flex flex-col justify-evenly  mt-5">  
          <span class="text-2xl md:text-4xl lg:text-5xl font-black w-16 h-16 p-2 rounded-full flex justify-center items-center bg-secondary_light  text-secondary">2</span>
            <h2 class="text-lg md:text-xl font-semibold">Visitanos</h2>
            <p class="text-left text-base md:text-lg lg:text-xl ">
            Encuentrate con nuestros experimentados 
            profesionales en un ambiente calido y acogedor donde 
            podras hablar sobre las necesidades de tu mascota. 
            </p>
          </div>
        </div>
        <div class="steps-3  w-full  lg:w-1/3  flex flex-col justify-start items-start ">
          <div class="w-full backdrop-blur-sm border-[0.5px] border-primary_light shadow-sm shadow-primary_light  h-full p-3 rounded-xl  flex flex-col justify-evenly mt-10">  
            <span  class="text-2xl md:text-4xl lg:text-5xl font-black w-16 h-16 p-2 rounded-full flex justify-center items-center bg-secondary_light  text-secondary">3</span>
            <h2 class="text-lg md:text-xl font-semibold">Obten recomendaciones</h2>
            <p class="text-left text-base md:text-lg lg:text-xl ">
             Despues de una reunion personal con el medico, 
             recibira un programa de tratamiento personalizado que 
             abordara las necesidades de tu mascota .
            </p>
          </div>
        </div>
      </div>
    </div>
      <div class="w-full h-1/2 flex flex-col justify-evenly items-center my-10">
        <p class="text-2xl md:text-4xl lg:text-5xl text-center font-bold text-secondary_dark md:px-32 mb-5">
            Al elegir nuestros servicios de atención preventiva, estas tomando
            medidas proactivas para garantizar el bienestar de tu mascota.
            Agenda una cita con nosotros hoy mismo.
        </p>
        <PrimaryButton title="Agendar cita" icon="icon-[streamline--add-circle]" href="/contacto"/>
      </div>
</section>