---
---

<section class="h-screen bg-primary_light/40 rounded-bl-xl rounded-br-xl lg:h-auto w-full p-2 md:p-5 py-5 mb-10">
    <div class="p-2 md:p-5 bg-secondary_light flex flex-col rounded-2xl  max-h-screen md:h-full w-full">
      <span class="tech-title flex justify-center items-center mb-3">
        <h1 class="service-title uppercase text-left text-4xl md:text-6xl font-semibold text-secondary tracking-wider">
            Tecnologías
          </h1>
      </span>
      <div class="md:h-full w-full flex flex-col justify-center items-center md:flex-row relative">
        <p class="tech-p text-base md:w-1/2  md:text-xl lg:text-xl text-left tracking-wider text-secondary ">
          Nuestros productos y servicios diagnósticos han transformado la manera en que recopilamos e interpretamos la información veterinaria, aprovechando nuestra experiencia en el campo. Contamos con tecnología de vanguardia para ofrecer servicios completos: laboratorio, ecografía, cirugía, hospitalización y anestesia.
        </p>
      <span class="w-full flex justify-end items-center md:w-1/2 md:-ml-10">
        <img src={'/serviceBanners/tech.png'} class="tech w-[70%] md:h-[80%]  md:tech-img"/>
      </span>
      </div>
    </div>
  </section>
  
